html {
  overflow-y: scroll;
}

body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

#bg {
  background-color:  white;
}

#title {
  text-align: center;
  color: black;
  padding: 0px;
  font-size: 54px;
}

.content {
  opacity: 1;
  top: 0px;
  position: relative;
  transition: 1s opacity, 1s top;
}

.content.fade {
  opacity: 0;
  top: 50px;
  position: relative;
  transition: none;
}

#table_countries {
  padding: 12px;
  background-color: white;
  box-shadow: 0 0 8px #BBBBBB;
  color: black;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  font-size: 28px;
  width: 80%;
  margin: auto;
}

#worldwide_stats {
  padding: 12px;
  background-color: white;
  box-shadow: 0 0 8px #BBBBBB;
  color: black;
  border-radius: 30px;
  font-size: 28px;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.worldwide_stats_label {
  padding: 15px 0px 8px 0px;
  font-weight: 800;
  font-size: 34px;
}

.worldwide_stats_number {
  padding: 8px 0px 15px 0px;
  font-size: 50px;
}

#header_confirmed, #header_recovered, #header_deaths {
 text-align: right; 
}

.table_countries_header {
  font-weight: 800;
  padding: 20px;
}

.table_cell {
  padding: 20px;
}
