html {
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}

body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

#bg {
  background-color:  white;
}

#title {
  text-align: center;
  color: black;
  padding: 0px;
  font-size: 40px;
}

#table_countries {
  padding: 12px;
  background-color: white;
  box-shadow: 0 0 8px #BBBBBB;
  color: black;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  font-size: 28px;
  width: 80%;
  margin: auto;
}

#header_confirmed, #header_recovered, #header_deaths {
 text-align: right; 
}

.table_countries_header {
  font-weight: 800;
  padding: 20px;
}

.table_cell {
  padding: 20px;
}
